body {
    background-color:#d2f6c5;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sniglet', cursive;
}

.header-top {
    height: 150px;
    background-color: #28df99
}

.nav-custom {
    background-color: #99f3bd;
}

.card {
    width: 18rem;
}

#why-choose-us {
    background-color: #fff;
}

#testimonials {
    background-color: #99f3bd;
}

footer {
    background-color: #28df99;
    height: 60px;
}