body {
    background-color:#d2f6c5;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sniglet', cursive;
}

 /* Header */

.header-top {
    height: 150px;
    background-color: #28df99
}

.logo {
    width: 30%;
    text-align: center;
}

.logo img {
  width: 50%;
}

.contact-details {
    font-size: 1.5rem;
    width: 50%;
    height: 150px;
}

#header-phone {
  width: 60%;
}

#header-email {
   width: 40%;
   text-align: center;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 50%;
  }
  .logo img {
    width: 30%;
  }
}

@media screen and (max-width: 992px) {
  #header-phone{
    width: 100%;
    text-align: center;
  }
  #header-email {
    width: 100%;
  }
  .logo img {
    width: 40%;
  }
}

@media screen and (max-width: 615px) {
    .contact-details {
      font-size: 1rem;
    }
    .logo img {
      width: 50%;
    }
  }

  /* Nav-bar */

.nav-custom {
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    position: relative;
    bottom: 25px;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .nav-custom {
      width: 80%;
    }
  }

  /* Photo Carousel */

#photos {
    position: relative;
    bottom: 55px;
}

.carousel-photo {
    background-image: url("Tree_test_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }

  /* Our Services */

.card {
    width: 18rem;
}

/* Why Choose Us */

#why-choose-us {
    background-color: #fff;
}

#why-choose-us ul {
  width: 300px;
}

@media screen and (min-width: 992px) {
  #why-choose-us ul {
    width: 600px;
  }
}

/* Testimonials */

#testimonials {
    background-color: #99f3bd;
}

/* Footer */

footer {
    background-color: #28df99;
    height: 60px;
}